In [10]:
import sys
import os
import pandas as pd
import numpy as np

import nltk
nltk.download('stopwords')

# Add the src directory to the system path
sys.path.append(os.path.abspath(os.path.join('..', '..', 'src')))

from data.load_raw_data import load_sentiment140_raw

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\alen.pavlovic\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [5]:
file_path = '../../data/raw/training.1600000.processed.noemoticon.csv'  # The path to data file
df = load_sentiment140_raw(file_path)

In [7]:
df

                                                      text  label
0        @switchfoot http://twitpic.com/2y1zl - Awww, t...      0
1        is upset that he can't update his Facebook by ...      0
2        @Kenichan I dived many times for the ball. Man...      0
3          my whole body feels itchy and like its on fire       0
4        @nationwideclass no, it's not behaving at all....      0
...                                                    ...    ...
1599995  Just woke up. Having no school is the best fee...      1
1599996  TheWDB.com - Very cool to hear old Walt interv...      1
1599997  Are you ready for your MoJo Makeover? Ask me f...      1
1599998  Happy 38th Birthday to my boo of alll time!!! ...      1
1599999  happy #charitytuesday @theNSPCC @SparksCharity...      1

[1600000 rows x 2 columns]

In [11]:
nltk.corpus.stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]